<!doctype html>
<html lang="ru">
	<head>
		<!-- Required meta tags -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		{% block meta %}DEFAULT_META{% endblock meta %}
		<meta name="author" content="Alex_T" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" crossorigin="anonymous" />
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap-grid.css') }}" crossorigin="anonymous" />
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='bootstrap/css/bootstrap-reboot.css') }}" crossorigin="anonymous" />
		<link rel="stylesheet" href= "{{ url_for('static', filename='svg/bootstrap-icons.css') }}" crossorigin="anonymous" />
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}" crossorigin="anonymous" />

		<title>{% block title %}DEFAULT_TITLE{% endblock title %}</title>
	</head>
	<body>
		<header>
			<section>
				<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
					<a class="navbar-brand" href="/index/" title="Достижения в ходьбе Василия Пупкина">&laquo;Достижения&nbsp;Василия&raquo;</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					{% block nav_links %}DEFAULT_NAV_LINKS{% endblock nav_links %}
				</nav>
			</section>
		</header>
		<main>
			<section>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>{% block h1 %}DEFAULT_H1{% endblock h1 %}</h1>
						</div>
					</div>
					<div class="row">
						{% block content %}DEFAULT_CONTENT_PAGE{% endblock content %}
					</div>
				</div>
			</section>
		</main>
		<footer>
			<section>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{% block footer %}DEFAULT_FOOTER{% endblock footer %}
						</div>
					</div>
				</div>
			</section>
			<div></div>
		</footer>
		<script src="{{ url_for('static', filename='bootstrap/js/jquery-3.5.1.slim.min.js') }}" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.js') }}" crossorigin="anonymous"></script>
	</body>
</html>